<!doctype html>
<html>
    <head>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">        </head>
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <body>
            <nav>
                <div class="nav-wrapper blue">
                  <a href="index" class="brand-logo">IMS</a>
                  <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="materials">Materials</a></li>
                    <li class="active"><a href="suppliers">Suppliers</a></li>
                  </ul>
                </div>
              </nav>
              <div class= "container"><br>
                <a href="/addsupplier" class="btn blue">add supplier</a>
                <table class="striped">
                  <%= typeof msg != 'undefined' ? msg : ''%>
                    <thead>
                      <tr>
                          <th>Companyname</th>
                          <th>Contact</th>
                          <th>Email Id</th>
                          <th>Created on</th>
                          <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% obj.forEach(function(object){%>
                      <tr>
                        <td><%= object.cmpname%></td>
                        <td><%= object.contactno%></td>
                        <td><%= object.emailid%></td>
                        <td><%= object.created_on%></td>
                        <td>
                        <form action="/editsupplier/<%= object._id %>" method="get">
                           <input type="submit" class="green btn" value="edit">
                        </form>
                        </td>
                        <td>
                        <form action="/deletesupplier/<%= object._id %>" method="post">
                           <input type="submit" class="red btn" value="del">
                        </form>
                        </td>
                        <td>
                        <form action="/showsupplier/<%= object._id %>" method="get">
                           <input type="submit" class="blue btn" value="info">
                        </form>
                        </td>
                      </tr>
                      <% });%>
                    </tbody>
                  </table>
              </div>
                  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>    </body>
</html>